:root{
  --fz-size-m: 16px;
  --lh-size-m: 1.5;
  --fz-size-l: 24px;
  --lh-size-l: 1.4;
  --font-default: 'Consolas', 'Courier New', monospace;
  --bg-main: rgb(224 221 221);
  --bg-main-inversed: rgb(37 35 35);
  --color-primary: black;
  --color-secondary: rgb(54 52 52);
  --navbar-bg: rgb(157 96 207);
  --sidebar-bg: rgb(185 143 219);
  --btn-bg: rgb(250 75 221);
  --btn-color: rgb(253 253 253 / 97.9%);
  --link-color: rgb(45 47 182); 


  // sizes
  --navbar-height: 5rem;
  --sidebar-width-full: 30rem;
  --sidebar-width-toggled: 8rem;

  // spaces
  --def-padding-x: 2rem;
  --def-padding-y: 5rem;

    
}

$media_desktop: 1200px;
$media_tablet: 800px;
$media_phone: 580px;