

.btn{
  cursor: pointer;
  background: var(--bg-btn);
  color: var(--color-primary);
  border: none;
  border-radius: 3.4rem;
  padding: .8rem 1.6rem;
  font-size: var(--fz-size-m);
  transition: .3s;
  display: block;
  width: fit-content;
  min-width: 200px;

  &:disabled{
    pointer-events: none;
    filter: brightness(40%) saturate(283%);
  }

  &:hover{
    background: var(--bg-btn-darken);
  }

  &.bordered{
    background: transparent;
    border: 1px solid var(--color-blue-500);
    line-height: 1;

    &:hover{
      background: var(--bg-btn);
    }
  }

  &.center{
    margin-right: auto;
    margin-left: auto;
  }

  &.shake-anim{
    animation: 1s shake-horizontal linear;
   

    @keyframes shake-horizontal {
      0%,
      100% {
        transform: translateX(0);
      }

      10%,
      30%,
      50%,
      70% {
        background: var(--color-red);
        transform: translateX(-.3rem);
      }

      20%,
      40%,
      60% {
        transform: translateX(.3rem);
      }

      80% {
        transform: translateX(.1rem);
      }

      90% {
        transform: translateX(-.1rem);
      }
    }
  }

  &.small{
    font-size: var(--fz-size-sm);
  }

  &.large{
    font-size: var(--fz-size-l);
  }

  &.xlarge{
    font-size: var(--fz-size-xl);
    padding: 1rem 2.6rem;
  }

  &.clear{
    background: transparent;
    padding: 0;
    border: none;
    color: var(--color-blue-500);
    line-height: 1;
    min-width: auto;
  }

  &.square{
    aspect-ratio: 1;
    border-radius: 0;
    line-height: 1;
    min-width: auto;
  }
  
}
