.btn{
  cursor: pointer;
  background: var(--btn-bg);
  color: var(--btn-color);
  border: none;
  padding: 10px 15px;
  font-size: var(--fz-size-m);

  &.clear{
    background: transparent;
    padding: 0;
    border: none;
    color: var(--link-color);
    font-size: var(--fz-size-m);
    line-height: 1;
  }
  
}
