.input-holder{
  margin: 0 0 2rem;

  &:last-of-type{
    margin: 0;
  }
}



.btn-submit{
  margin: 2rem auto 0;
} 

.error{
  font-size: var(--fz-size-m);
  color: var(--color-danger);
  text-align: center;
  margin: .5rem 0 0;
}