:root{
    --fz-size-m: 16px;
    --lh-size-m: 1.5;
    --fz-size-l: 24px;
    --lh-size-l: 1.4;
    --font-default: 'Consolas', 'Courier New', monospace;
    --bg-main: rgb(224, 221, 221);
    --color-primary: black;
    --color-secondary: rgb(54, 52, 52);
}