.navbar{
  height: var(--navbar-height);
  background: var(--bg-dark);
  padding: 0 var(--def-padding-x); 

  .wrapper{
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    height: 100%;

  }

  &__right{  
    display: flex;
    justify-content: flex-end;  
    align-items: center;
  } 

  &__nav{
    ul{
      margin-left: auto;
      margin-right: 2rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
            
      li{
        margin: 0 1rem 0 0;
      }
    }
       
        
  }
}