.blue-theme{
  --bg-main: #2198FF;
  --bg-dark: #0a7ee4;
  --bg-light: #45a4f7;
  --bg-btn: #00F5D8;
  --bg-btn-darken: #05c7b0;
  --bg-main-inversed: #EFF5F7;
  --color-primary: #fff;
  --color-secondary: #F4F8FB;
  --color-hint: #1397bb;
  --color-red: #D95757;
  --color-green: #80f8a2;
  --color-blue: #74A2B2;
  --color-blue-500: #5ED3F3;
  --modal-bg: rgba(35 35 35 / 50%);
  --color-danger: rgb(231 75 75);
 
} 