.dark-theme{
  --bg-main: #0C1214;
  --bg-dark: #151C1F;
  --bg-light: #090F11;
  --bg-btn: #491f97;
  --bg-btn-darken: #37127a;
  --bg-main-inversed: #EFF5F7;
  --color-primary: #DBDBDB;
  --color-secondary: rgb(233 225 225);
  --color-hint: #555;
  --color-red: #D95757;
  --color-green: #6CD98B;
  --color-blue: #74A2B2;
  --color-blue-500: #5ED3F3;
  --modal-bg: rgba(35 35 35 / 50%);
  --color-danger: rgb(231 75 75);
} 