.dark-theme{
  --bg-main: rgb(37 35 35);
  --bg-main-inversed: rgb(224 221 221);
  --color-primary: rgb(209 200 200);
  --color-secondary: rgb(233 225 225);
  --link-color: rgb(35 211 218);
  --navbar-bg: rgb(123 11 214);
  --sidebar-bg: rgb(72 7 126);
  --btn-bg: rgb(9, 219, 131);
  --btn-color: rgba(74, 78, 74, 0.979);
} 