
.input-field{
  position: relative;
  

  .input{
    border-radius: calc(var(--radius-def) * 2);
    background: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-blue-500);
    padding: 2rem;
    resize: vertical;
    font-size: var(--fz-size-m);
    font-family: var(--font-default);
    width: 100%;
  }

  label{
    position: absolute;
    transform: translate3d(0, -50%, 0);
    transition: .3s;
    top: 0;
    left: max(3%, 10px);
    font-size: var(--fz-size-sm);
    background: var(--bg-main);
    padding: 0 5px;
  }

}
